{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "script"
  },
  "env": {
    "node": true,
    "es6": true,
    "mocha": true
  },
  "globals": {
  },
  "rules": {
    "semi" : [2],
    "prefer-arrow-callback" : [2],
    "arrow-spacing": [2, {"before": true, "after": true}],
    "space-before-function-paren": [2, "never"],
    "no-confusing-arrow": [1],
    "no-unused-vars": [1, {"argsIgnorePattern": "req|res|next|err|lexeme|params|parsingData", "varsIgnorePattern": "should"}],
    "no-console": [0],
    "brace-style": [2],
    "camelcase": [0],
    "keyword-spacing": [2],
    "eqeqeq": [2],
    "space-before-blocks": [2],
    "strict": [2]
  },
  "extends": "eslint:recommended"
}
