{
  "development": {
    "secret": "somethingverysecret",
    "db": {
      "username": "username",
      "password": "passWord!",
      "database": "libertydev",
      "host": "localhost",
      "port": 3306,
      "dialect": "mysql",
      "charset": "utf8mb4",
      "collate": "utf8mb4_bin",
      "pool": { "max": 40, "min": 0, "idle": 10000 }
    },
    "mediaFileStorage": {
      "type": "local"
    },
    "redis": {
      "password": ""
    }
  },
  "test": {
    "secret": "somethingverysecret",
    "db": {
      "username": "username",
      "password": "passWord!",
      "database": "libertytest",
      "host": "localhost",
      "port": 3306,
      "dialect": "mysql",
      "charset": "utf8mb4",
      "collate": "utf8mb4_bin",
      "pool": { "max": 40, "min": 0, "idle": 10000 }
    }
    "mediaFileStorage": {
      "type": "local"
    },
    "redis": {
      "password": ""
    }
  },
  "production": {
    "secret": "somethingverysecret",
    "db": {
      "username": "username",
      "password": "passWord!",
      "database": "libertyproduction",
      "host": "localhost",
      "port": 3306,
      "dialect": "mysql",
      "charset": "utf8mb4",
      "collate": "utf8mb4_bin",
      "pool": { "max": 40, "min": 0, "idle": 10000 }
    }
    "mediaFileStorage": {
      "type": "local"
    },
    "redis": {
      "password": ""
    }
  }
}
